.symbolist_selected {
  fill: blue;
}

.symbolist_selected line {
  stroke: blue;
}

#palette {
  background-color : rgba(255, 255, 255, 100);
  color : black;
  border-right : 1px solid black;
 
  top: 0px;
  left: 0px;
  width: 62px;
  height: calc(100vh - 2px);
}

#palette div {
  text-decoration: none;
  background-color : rgba(255, 255, 255, 100);
  color : black;
  border : 1px solid black;
  position: relative;
 
  width: 40px;
  margin-left: 10px;

  height: 40px;
  margin-top: 10px;

}

#palette svg {
  z-index: 10;
}


